{% extends "base.html" %}

{% block main %}
{% include "notify.html" %}

<div class="container">
    {% include "users.html" %}
</div>

<br>
<hr style="border:5px solid black ;">
<br>

<div class="container">
    {% include "websites.html" %}
</div>

<br>
<hr style="border:5px solid black ;">
<br>

<div class="container">
    <script>
        function pageviewToggle() {
            document.querySelector("#pageview").toggleAttribute("hidden")
        }
    </script>
    <button class="btn d-block mb-3 text-white" onclick="pageviewToggle();">Show/Hide Page View Data</button>
    <div id="pageview" hidden>
        {% include "pageview.html" %}
    </div>

</div>

<br>
<hr style="border:5px solid black ;">
<br>

<div class="container">
    <script>
        function formSubmitToggle() {
            document.querySelector("#formSubmit").toggleAttribute("hidden")
        }
    </script>
    <button class="btn d-block mb-3 text-white" onclick="formSubmitToggle();">Show/Hide Submit Data</button>
    <div id="formSubmit" hidden>
        
    </div>

</div>

{% endblock %}