<script>
    function search() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("input");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    </script>

<input type="text" id="input" class="mb-3" onkeyup="search()" placeholder="Search">
<div class="row">
    <div class="col-md-10" style="max-height:500px; overflow-y: scroll;">
        <table class="table table-hover table-striped table-bordered" id="table" >
            <thead>
                <tr>
                    <th>page</th>
                    <th>ip</th>
                    <th>state</th>
                    <th>city</th>
                    <th>load time</th>
                </tr>
            </thead>
            <tbody>
                {% for row in ctx.data %}
                    <tr>
                        <td>{{row.page}}</td>
                        <td>{{row.ip}}</td>
                        <td>{{row.state}}</td>
                        <td>{{row.city}}</td>
                        <td>{{row.loadtime}}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
