<table class="table table-bordered" style="width: 200px;">
    <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        {% for u in ctx.users %}
        <tr>
            <td>{{u.id}}</td>

            <td>{{u.username}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<form method="post" action="/adduser" class="">
    <label>Add/Update Users</label>
    <div class="row align-items-center">
        <div class="input-group input-group-sm col">
            <span class="input-group-text">Username</span>
            <input type="text" class="form-control" name="username" autocomplete="off">
        </div>
        <div class="input-group input-group-sm col">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-control" name="password">
        </div>
        <input type="submit" class="btn " value="Submit" style="width: 100px;">
    </div>
</form>